body{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 4rem;
      background-color: lightsteelblue;


}

h1{
      font-size: 2rem;
      color: khaki;
      background-color: indigo;

}