/* Paleta de colores */
:root {
    --back-body:linear-gradient(#B4C5E4,#3D52D5) ;
    --color-letra: bisque;
    --color-fondo: rgb(106, 43, 255);
    --color-article:  rgb(181, 225, 255);
    --font-main: 'Source Sans Pro', sans-serif;
    --font-title: 'Stylish', sans-serif;
    --size-subtitle: 1.5rem;
    --size-title: 3rem;
    --size-title2: 2.2rem;
    --size-title3: 1.3rem;
    --size-base: -webkit-calc(15rem/16);
    --size-base: -moz-calc(15rem/16);
    --size-base: calc(15rem/16);
    --margin-vertical: 1.5rem;
    --margin-horizontal: 2rem;

}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:none;
    font-size: 100%;
    font:inherit;
background-image: -webkit-gradient(linear,left top, left bottom,from(#fff),to(f2));
background-image: -webkit-linear-gradient(#fff,f2);
background-image: -moz-linear-gradient(#fff,f2);
background-image: -o-linear-gradient(#fff,f2);
background-image: linear-gradient(#fff,f2)
}

.main-header{
    font-size: var(--size-subtitle);
    background-color: var(--color-fondo);
    color: var(--color-letra);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom:1rem;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}


.header-h1{
   
    font-family: var(--font-title);
    font-size: var(--size-title);
    color: var(--color-letra);
    
}

body{
    background: var(--back-body); 
    font-size: var(--size-base);
    font-family: var(--font-main)

}

.footer address{
    background-color: beige;
    color: grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family: var(--font-main);
}

.footer a{
color: inherit;
}

.subtitulo{

}

main{

   margin: var(--margin-vertical) var(--margin-horizontal); 
   
}

main h2{
font-size: var(--size-title2);
margin: var(--margin-vertical);
color: var(--color-fondo);
font-family: var(--font-title);

}
main h3{
font-size: var(--size-title3);   
}

main p{
    margin: -webkit-calc(var(C)/2);
    margin: -moz-calc(var(C)/2);
    margin: calc(var(C)/2);
}

section{
   margin: var(--margin-vertical) 
}

section article{
    width: 50%;
    vertical-align:top;
    padding: 1rem;
    background-color: var(--color-article);
    border: 4px double var(--color-fondo);
}

section .inline_block article{

    display: inline-block;
    
    
}

section .inline_block article:nth-of-type(2) {
    margin-left: -3px;

}
section .float article{
    float: left;
}

section .float::after{
    content:'';
    display: block;
    clear: both;
}

section .table{
    display: table;
}

section .table article{
    display: table-cell;

}

section .flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    /*align-items: center*/
}

section .flex article{
    width: 100%
}


@media screen and (min-width: 900px) {
    section .flex{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
}


p{
    padding-top: var(--margin-vertical)
}
