html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
      vertical-align: baseline;
}
* {
      box-sizing: border-box;
  }
  
  body {
      background-color: rgb(255, 240, 221);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 0;
  }
  body>header {
      background-color: rgb(3, 151, 144);
      color: bisque;
      min-height: 20vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
  
  body>header h1{
      margin: 0;
      width: 100%;
      text-align: center;
  }
  
  .sticky {
      min-height: 0vh;
      position: fixed;
      top: 0;
      left: 0;
      right: 0; 
  }
  
  .top-sticky {
      height: 12vh;
  }
  
  nav {
      width: 80%;
  }
  
  nav ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.2rem;
  }
  
  nav li {
      display: block;
      padding:0.1rem;
      
  }
  
  nav a {
      text-decoration: none;
      color: inherit;
      padding: 0.2rem;
  }
  
  .active {
      background-color: bisque;
      color: rgb(3, 151, 144);
  }

  h1{   -webkit-text-stroke: 1px white;
        color:transparent;
        font-size: 3.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  h2{
      font-size: 2rem; 
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 2rem 0;

  }
  
  main {
      margin: 4rem 6rem;
      min-height: 250vh;

  }
  footer {
      min-height: 10vh;
      background-color: rgb(3, 151, 144);
      color: bisque;
      display: flex;
      justify-content: center;
      align-items: center;
  }