body{
      background-color: rgb(255, 237, 214);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 0;
}
header{
      
      color: rgb(190, 92, 0);
      text-align: center;
      min-height: 8vh;
}