*  {
    box-sizing: border-box;
}
body {
    margin: 0;
}

header, footer {
    background-color: rgb(43, 115, 197);
    color: bisque;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    min-height: 10vh;
}

main {
    width: 90%;
    margin: 1rem auto 5rem auto;
    min-height: 80vh;
}

p {
    background-color: rgb(238, 123, 232);
    padding: 0.5rem 1rem;
}

.relative {
    position: relative;
    top: 2.5rem;
    left: 2rem;
    background-color: rgba(184, 114, 250, 0.7);
}

.absolute_wrapper {
    position: relative;
}

.absolute {
    background-color: rgba(250, 128, 114, 0.7);
    margin: 0;
    position: absolute;
    top: 0;
    right: 6rem;
}

.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 1,3rem;
    align-items: flex-start;
    text-align: center;
}

.fixed:hover{
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;

}


.overflow{
    height: 20vh;
    overflow: scroll;
}
/* width */
.overflow::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.overflow::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.overflow::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.overflow::-webkit-scrollbar-thumb:hover {
  background: #555; 
}