
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-weight: normal;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*******************************
        
            FIN RESETCSS

*******************************/
@font-face{
    font-family: 'antiqua';
    src: url(../assest/fonts/Chantelli_Antiqua.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'anticsans';
    src: url(../assest/fonts/AnticSans-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'elmissiri';
    src: url(../assest/fonts/elmessiri-regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'aaargh';
    src: url(../assest/fonts/Aaargh.ttf);
    font-weight: normal;
    font-style: normal;
}
/*******************************
        
            FIN Fonts

*******************************/



body{
    background-color: rgb(59, 83, 109);
    
}
/*******************************
        
            Headers backs

*******************************/
.main_header{
    background-image: url(../assest/banner.jpg);
    min-height: 60vh;
    background-repeat:no-repeat;
    background-size:cover;
    border-bottom:solid 3px;
    
}
.etapas_header{
    background-image: url(../assest/43-banner-painting-v2.jpg);
    min-height: 60vh;
    background-repeat:no-repeat;
    background-size:cover;
    border-bottom:solid 3px;
    
}

.mitologia_header{
    background-image: url(../assest/mitologia.jpg);
    min-height: 60vh;
    background-repeat:no-repeat;
    background-size:cover;
    border-bottom:solid 3px;
    
}
.actual_header{
    background-image: url(../assest/actual.jpg);
    min-height: 60vh;
    background-repeat:no-repeat;
    background-size:cover;
    border-bottom:solid 3px;
    
}
h1{
font-family:'antiqua';
font-size: 3rem;
font-variant: small-caps;
padding-top: 2rem;
display:flex;
}


.etapas_header h1{
    font-family:'antiqua';
    font-size: 3rem;
    font-variant: small-caps;
    padding-top: 2rem;
    display:flex;
    color:gold;
    }

    .actual_header h1{
        font-family:'antiqua';
    font-size: 3rem;
    font-variant: small-caps;
    padding-top: 2rem;
    display:flex;
    color:rgb(255, 255, 255); 
    }

.subti{
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'elmissiri';
    font-size: 1.2rem;
    display:flex;
}

.etapas_header .subti{
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'elmissiri';
    font-size: 1.2rem;
    display:flex;
    color:gold;
}
.actual_header .subti{
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'elmissiri';
    font-size: 1.2rem;
    display:flex;
    color: rgb(255, 255, 255);
}


.main_nav li a {
    font-family:'antiqua';
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 17px;
	display:block;   
}
.main_nav >ul > li {
    float:left;

}

.main_nav li a:hover {
    background-color:#434343;
    
}

.main_nav li ul {
    display:none;
    position:absolute;
    
}

.main_nav li:hover > ul {
    display:block;
}

.main_nav li ul li {
    position:relative;
}


.main_inicio{

}
.main_footer{
    background-color: #000;
    color: bisque;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.screen{
    display:flex;
}
div .aside{
    font-family: 'elmissiri';
    color:rgb(49, 0, 0);
    padding:3rem;
    width:40%;
    display: block;
    background-image: url(../assest/papiro.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-size:1.2rem;
        
}
div .aside h2{ 
    font-size:2rem;
    font-family: "antiqua";
    padding-top: 2rem;
    padding-bottom:6rem;
}
div .aside li{
    padding:1rem;

}

.artic_inicio{
   margin-left:7%;
   padding: 2rem;
   width:40%;
    background-color: rgb(255, 245, 213);
}
.artic_inicio header{
font-family: 'aaargh';
font-size: 2rem;
font-weight: bold;
margin-top: 4rem;
margin-bottom: 3rem;

}
.artic_inicio p{
    font-family: 'anticsans';
    line-height:1.3rem;
    padding:5px;
}

@keyframes slidy {
    0% { left: 0%; }
    10% { left: 0%; }
    11% { left: -100%; }
    20% { left: -100%; }
    21% { left: -200%; }
    30% { left: -200%; }
    31% { left: -300%; }
    40% { left: -300%; }
    41% { left: -400%; }
    50% { left: -400%; }
    51% { left: -500%; }
    60% { left: -500%; }
    61% { left: -600%; }
    70% { left: -600%; }
    71% { left: -700%; }
    80% { left: -700%; }
    81% { left: -800%; }
    90% { left: -800%; }
    91% { left: -900%; }
    100% { left: -900%; }
    }
    
   .slider{
       margin-top:1rem;
       margin-bottom:1rem;
   }
    div.slider { overflow: hidden; }
    div.slider figure img { 
        width: 10%; 
        float: left; 
    }
    div.slider figure { 
      position: relative;
      width: 1000%;
      animation: 60s slidy infinite; 
    }
    