
//los comentarios sass no se compilan

$color-back: rgb(34, 92, 1);
$margen-base: 1rem;

@mixin sin_mvert {
    margin-top: 0;
    margin-bottom: 0;
}
@mixin color_invert ($oscuro:20, $claro:20) {
    background-color: $color-back;
    color: bisque;
}

body {
    margin: ($margen-base + $margen-base)/2 - $margen-base;
    // display:grid;
    grid-template-columns: 2fr auto auto 1fr;

}
.main{
    background-color: $color-back;
    color: bisque;
    display: flex;  
}

.main-header {
    @extend .main;
    justify-content: center;
    text-align: center;  

    h1 {
        @include sin_mvert();
    }
}

main{
    min-height: 60vh; 
}
 
section.intro {
    margin: 2.6rem;
    header {
        background-color: bisque;
        color:brown;
    } 
section.samples{

}
   
} 
@import './parrafo.scss';

.main-footer {
        @extend .main;
        justify-content: center;
        text-align: center;  
}
//styde.net
