/* @import url(./header.css) screen and (max-device-width); */
/* @import url(./header.css);
@import url(./footer.css);*/
@import url(./reset.css); 

/*@font-face
@keyframes
@namespace
@page
@support
 */

 /* selector de etiqueta */
body{
    background-color:rgb(255, 204, 110) ;
    color: rgb(87, 87, 87);
}

/* Selector de clase */
.sample{
    color: blue;
}
/* Forma mas habitual de usar media Queries */

@media screen and (max-device-width: 500px) {


} 