body{
    margin:0;
    
}
ul li ul{
    margin:0;
    padding:0;
}

header{
    position:relative;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color: rgb(0, 0, 0); */
    display:flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    
   
    
    
}
header::after{
    content:'';
    display: block;
    height:100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    top:0;
    left:0;
    opacity: 0.3;
    background-image: url(../assets/betta0000.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}

div{
/* border:1px solid; */
/* width: 100%; */

}

/* div:nth-of-type(1){
   
}
div:nth-of-type(2){
   
} */
div.superior{
 flex: 1 1 auto;
 display: flex;
 z-index: 20;
}
div.menu_wrapper{
    flex: 20 1 auto;
    display: flex;
    align-items: center;  
}
div.logo_wrapper{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
div.inferior{
 flex: 8 1 auto;
    display: flex;
   justify-content: center;
   align-items: center;
}

.borde{

}
h1{
    color:rgb(170, 52, 107);
    z-index: 20;
    text-align: center;

}
.logo_wrapper img{
    max-width: 30%;
    min-width: 70px;
    padding-right:2rem; 

}
.icon {
    z-index: 30; 
    color: rgb(57, 141, 197);
    font-size: 3rem;
}

.icon a{
    text-decoration: none;
     margin-left: 2rem;
     
}

.content_wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
}

.content_wrapper section{
margin:1rem;
padding:1rem;
background-color: rgb(225, 255, 255);
border: double 4px rgb(110, 110, 110);
}
ul{
    list-style: none;
   
}
nav.footer{
    border: 4px double;
    padding:2rem;
    background-color:rgb(119, 237, 253); 
}

nav.footer>ul>li{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav.footer>ul>li>ul>li{
       font-size: 1rem;
}


ul a{
    text-decoration: none;
}
.menu li a {
    background: linear-gradient(rgb(74, 74, 255),blue );
    padding:15px 20px;
    display:block;
    color:rgb(155, 235, 255);

}

.menu >ul > li {
    float:left;

}


.menu li ul {
    display:none;
    position:absolute;
    
}

.menu li ul li a{
    margin-top:0.5rem;
}

.menu li:hover > ul {
    display:block;
    position: absolute;
}

.list1>a{
    border-top-left-radius: 40%;
}

.list2>a{
    border-top-right-radius: 40%;
}

.list3>a{
    border-bottom-left-radius: 40%;
}

.list4>a{
    border-bottom-right-radius: 40%;
}
.menu li a:hover {
    background: linear-gradient(rgb(116, 116, 255),rgb(52, 52, 255) );
    
}
.menu li a:focus{
    background: linear-gradient(rgb(116, 255, 213),rgb(0, 167, 144) );
    color:rgb(255, 255, 255);
    font-weight: bold;
}
nav.icon{
    display:initial;
}
.menu{
    display:none;
}
footer address{
    text-align: center;
    background-color: rgb(67, 104, 172);
    padding:4rem;
    color:rgb(194, 194, 194);
}


@media screen and (min-width: 500px) {
    
}

@media screen and (min-width: 650px) {
    

   
    nav a { /* Cualquier a dentro de nav */
		display: block;
		padding: 0.3rem 0.5rem;
		/* margin: 0.25em;
        border-radius: .5em;
        border: 1px solid #ba89a8;
        background-color: rgba(200,200,200,0.5);
        */
        text-align: center; 
        font-weight: bold;
	}

}

@media screen and (min-width: 800px) {
    
    .content_wrapper {
        display:flex;
        flex-wrap: wrap;
        width: 100%
    }
    
    .content_wrapper section{
    width: 38%;
    }

}
@media screen and (min-width: 1000px) {
    nav.icon,
    nav.footer
    {
         display: none;
    }
     nav.menu{
        display:block;
     }
     .content_wrapper {
        display:flex;
        width: 100%
    }
    
    .content_wrapper section{
    width: 40%
    }

}

@media screen and (min-width: 1800px) {
    nav.icon,
    nav.footer
    {
         display: none;
    }
     nav.menu{
        display:block;
     }
     .content_wrapper {
        display:flex;
        width: 100%
    }
    
    .content_wrapper section{
    width: 20%
    }

}