<!DOCTYPE html>
html(lang=languaje)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        header
            h1 Hola pug
        section
            p.
                Lorem ipsum <strong>dolor</strong> sit amet consectetur adipisicing elit. 
                Quod qui blanditiis in eum tempore. Veniam impedit consequatur, 
                obcaecati corporis at ullam distinctio. Sunt necessitatibus distinctin ad cum, quas nostrum in?
            
        footer
            address #{autor}