@font-face{
    font-family: 
}

body{
    margin:0;
    
}
header{
    position:relative;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    justify-content: center; /*Horizontal*/
    align-items: center;
    
    
}
header::after{
    content:'';
    display: block;
    height:100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    top:0;
    left:0;
    opacity: 0.3;
    background-image: url(../assets/betta0000.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}

h1{
    color:rgb(170, 52, 107);
    z-index: 10;
}

.content.wrapper{
    margin-left: 4rem;
    margin-right: 4rem;
}
.menu,
nav.icon
{   z-index: 30;
    position:absolute;
    top:55%;   
}
nav.menu{
    display:none;
}

nav a{ 
    
    text-decoration:none;
    color:inherit;
}
nav.icon{
    width: 20%;
    position: absolute;
    top:10%;
    left:10%;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 1000px){
nav.menu{
        display:block;
    }
.menu li a {
    background: linear-gradient(rgb(74, 74, 255),blue );
    padding:20px 50px;
    display:block;
    color:rgb(155, 235, 255);
}

.menu >ul > li {
    float:left;

}


.menu li ul {
    display:none;
    position:absolute;
    
}

.menu li ul li a{
    margin-top:0.5rem;
}

.menu li:hover > ul {
    display:block;
    position: absolute;
}

.list1>a{
    border-top-left-radius: 40%;
}

.list2>a{
    border-top-right-radius: 40%;
}

.list3>a{
    border-bottom-left-radius: 40%;
}

.list4>a{
    border-bottom-right-radius: 40%;
}
.menu li a:hover {
    background: linear-gradient(rgb(116, 116, 255),rgb(52, 52, 255) );
    
}
.menu li a:focus{
    background: linear-gradient(rgb(116, 255, 213),rgb(0, 167, 144) );
    color:rgb(255, 255, 255);
    font-weight: bold;
}

}




